body {
  background: url(./../../../assets/images/bg-login.png),
    linear-gradient(to bottom, #39dcbe 0%, #03a9f4 50%, #3f51b5 100%);
  background-attachment: fixed;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: repeat-x;
  color: #fff;
  text-align: center;
}

header {
  height: 103px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  img {
    vertical-align: middle;
    width: 58px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  h6 {
    display: grid;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    text-shadow: 0px 1px 1px #00000050;
    color: #fff;
     margin: 0;
    margin-bottom: -12px;
    span {
      font-size: 10px;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}

main {
  h2.title {
    font-size: 32px;
    margin-bottom: 1.5rem;
  }
  form.box-login {
    border: none;
    border-radius: 10px;
    color: #000000;
    width: 288px;
    background: #ffffff90;
    margin: 0 auto;
    backdrop-filter: blur(4px);
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    .line {
      height: 80%;
      display: block;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      border-radius: 4px;
      background-color: #52e5a5;
    }
    .username {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      border-radius: 5px;
      padding: 5px 10px 5px 18px;
      position: relative;
      margin-bottom: 1rem;
      label {
        color: #999999;
        font-size: 15px;
      }
      input {
        width: 90%;
        border: none;
        font-size: 16px;
        padding: 1px 5px;
      }
      img {
        position: absolute;
        right: 11px;
        bottom: 15px;
        max-width: 18px;
      }
      .line {
        background-color: #52e5a5;
      }
    }

    .password {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      border-radius: 5px;
      padding: 5px 10px 5px 18px;
      position: relative;
      margin-bottom: 1rem;
      label {
        color: #999999;
        font-size: 15px;
      }
      input {
        width: 90%;
        border: none;
        font-size: 16px;
        padding: 1px 5px;
      }
      select {
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 1px 5px;
      }
      img {
        position: absolute;
        right: 11px;
        bottom: 15px;
        max-width: 18px;
      }
      .line {
        background-color: #fb737c;
      }
    }

    .forgot {
      font-size: 16px;
      margin-bottom: 1rem;
      a {
        color: #fff;
      }
    }

    .sign-in {
      background-color: #52e5a5;
      padding: 0.875rem 1.15rem;
      font-size: 1rem;
      line-height: 28px;
      border-radius: 10px;
      text-transform: uppercase;
      a {
        color: #fff;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 10px;
  right: 0px;
  width: 100%;
  font-size: 17px;
  a {
    color: #fff;
    font-size: 16px;
    padding: 6px 0;
  }
}

.overlay-image {
  position: fixed;
  right: -150px;
  top: 50%;
  max-width: 470px;
  transform: translate(0%, -50%);
  z-index: -1;
}
